[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/home/vagrant/flask_app
Environment="PATH=/home/vagrant/flask_app/venv/bin"
ExecStart=/home/vagrant/flask_app/venv/bin/gunicorn --bind 0.0.0.0:5000 wsgi:app
[Install]
WantedBy=multi-user.target